.puzzle {
  width: 1000px;
  margin: auto;
}

.grid {
  background-color: #373C38;
  margin: 100px auto;
  padding: 1px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #444;
  width: 306px;
  height: 306px;
}


.cell {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  margin: 1px;
  border-radius: 3px;
  background: #BBBCBF;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
  cursor: pointer;
  user-select: none;
  transition: transform 0.6s;
  box-sizing: border-box;
}

.cell:hover {
  background: #E6E6E6;
}
